.clock-app *::selection {
    background-color: transparent;
}

.clock-app-header {
    position: absolute;
    width: 100%;
    height: 7vh;
    top: 50vh;
    z-index: 99;
}

.clock-app-container {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    color: var(--main-color);
    background: var(--second-background-color);
}

.clock-app {
    font-family: 'SF Pro Display Regular';
    display: none;
    height: 107.5%;
    width: 100%;
    color: var(--main-color);
    background: var(--second-background-color);
    overflow: hidden;
}

.clock-app-tab {
    position: relative;
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 32px;
    flex: 1;
}

.clock-app-alarm-page {
    position: absolute;
    width: 100%;
    height: 100%;
}

.clock-app-alarm-add {
    left: 100%;
}

.clock-add-alarm-settings p {
    margin: 0 !important;
}

.clock-add-alarm-settings .settings-tab-description {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.clock-app-tab .global-app-header {
    top: 8px;
    height: 33px;
    margin-bottom: 8px;
    border-bottom: 1px solid var(--main-black);
}

.clock-app-tab-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    font-weight: bold;
    font-size: 16px;
    border-bottom: 1px solid var(--calculator-button-hover);
    background: var(--second-background-color);
}

.clock-app-active {
    display: flex !important;
}

.clock-app-footer {
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    text-align: center;
    padding: 8px 16px;
    border-top: 1px solid var(--main-black)
}

.clock-app-footer i {
    font-size: 26px;
}

.clock-app-footer p {
    font-size: 12px;
}

.clock-app-header-button {
    position: relative;
    float: left;
    width: 50%;
    height: 80%;
    text-align: center;
    line-height: 6vh;
    background: #0f0f0f;
    border-bottom: .3vh solid rgba(0, 0, 0, 0);
    font-family: 'SF Pro Display Regular';
    color: white;
    transition: .08s;
}
.clock-app-header-button:hover {
    background: #252525;
}
.clock-app-footer-selected p {
    color: #ff7c14;
}

.clock-app-footer-selected i {
    color: #ff7c14;
}
.clock-app-loaded {
    display: none;
    padding-left: 30vh;
    height: 60vh;
}
.clock-app-loading {
    position: absolute;
    top: 0;
    left: 0vh;
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.stopwatch-timer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 64px;
    font-size: 64px;
    background: var(--main-background-color);
    font-family: 'SF Pro Display Regular';
}

.clock-buttons {
    display: flex;
    align-items: center;
    background: var(--main-background-color);
    padding: 0 26px 16px 26px;
    justify-content: space-between;
    font-size: 14px;
    border-bottom: 1px solid var(--main-black);
}

.clock-button {
    display: flex;
    width: 64px;
    height: 64px;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border-radius: 50%;
    color: var(--main-background-color);
}

.clock-button p {
    font-size: 16px;
    margin: 0 !important;
}

.clock-button[data-type="lap"] {
    background: var(--main-dark-gray);
    border: 2px solid var(--main-darker-gray);
}

.clock-button[data-type="clear"] {
    background: #000000;
    border: 2px solid #313131;
}

.clock-button[data-type="start"] {
    background: var(--main-green);
    border: 2px solid var(--main-darker-green);
}

.clock-button[data-type="stop"] {
    background: var(--main-red);
    border: 2px solid var(--main-darker-red);
}

.stopwatch-lap-list {
    overflow: auto;
    max-height: 26vh;
}

.stopwatch-lap:nth-child(even) {
    background: var(--main-background-color);
}

.stopwatch-lap {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    border-bottom: 1px solid var(--main-black);
    padding: 0 16px;
}

.stopwatch-lap:last-child {
    border-bottom: none;
}

.stopwatch-lap p {
    margin: 8px;
}

.stopwatch-lap-list::-webkit-scrollbar {
    position: absolute;
    width: .6vh;
}

.stopwatch-lap-list::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

.stopwatch-lap-list::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 1vh 0 0 1vh;
}

.world-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
    background: var(--main-background-color);
}

.world-time:last-child {
    border-bottom: 1px solid var(--main-black);
}

.world-time::after {
    content: "";
    width: 100%;
    margin-top: 22%;
    background: var(--main-black);
    position: absolute;
    color: black;
    height: 1px;
}

.world-time:last-child::after {
    display: none;
}

.world-time p {
    margin: 0;
}

.world-time-info {
    display: flex;
    flex-direction: column;
}

.world-time-info p:first-child {
    font-size: 22px;
}

.world-time-info p:last-child {
    color: var(--main-dark-gray);
    font-family: 'SF Pro Display Light';
    font-size: 12px;
}

.world-time-clock {
    display: flex;
    align-items: flex-end;
}

.world-time-clock p:first-child {
    font-size: 48px;
}

.world-time-clock p:last-child {
    font-size: 22px;
    padding-bottom: 10px;
}

.clock-timer-setup-container {
    display: flex;
    border-bottom: 1px solid var(--main-black);
    margin-bottom: 32px;
}

.clock-app-timer-setup {
    position: absolute;
    width: 100%;
}

.clock-timer-container #clock-timer-minute-picker {
    text-align: right;
    direction: rtl;
    text-indent: 8px;
}
.clock-timer-container #clock-timer-second-picker {
    text-align: left;
    text-indent: 8px;
}

.clone-scroller::-webkit-scrollbar {
    display: none;
}

.clock-app-timer-show {
    position: absolute;
    width: 100%;
    left: 100%;
    display: none;
}

.clock-app-timer-show-container-texts {
    display: flex;
    background: var(--main-background-color);
    padding-top: 64px;
    font-size: 64px;
    align-items: center;
    justify-content: center;
}