.clock-app *::selection {
    background-color: transparent;
}

.clock-app-header {
    position: absolute;
    width: 100%;
    height: 7vh;
    top: 50vh;
    z-index: 99;
}

.clock-app-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    color: var(--main-color);
}

.clock-app {
    font-family: 'SF Pro Display Regular';
    display: none;
    height: 107.5%;
    width: 100%;
    color: var(--main-color);
    background: var(--main-darker-background-color);
    overflow: hidden;
}

.clock-app-tab {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 32px;
    flex: 1;
}

.clock-app-tab-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    font-weight: bold;
    font-size: 16px;
    border-bottom: 1px solid var(--calculator-button-hover);
    background: var(--main-darker-background-color);
}

.clock-app-active {
    display: flex !important;
}

.clock-app-footer {
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    text-align: center;
    padding: 0 16px;
}

.clock-app-footer i {
    font-size: 26px;
}

.clock-app-footer p {
    font-size: 12px;
}

.clock-app-header-button {
    position: relative;
    float: left;
    width: 50%;
    height: 80%;
    text-align: center;
    line-height: 6vh;
    background: #0f0f0f;
    border-bottom: .3vh solid rgba(0, 0, 0, 0);
    font-family: 'SF Pro Display Regular';
    color: white;
    transition: .08s;
}
.clock-app-header-button:hover {
    background: #252525;
}
.clock-app-footer-selected p {
    color: #ff7c14;
}

.clock-app-footer-selected i {
    color: #ff7c14;
}
.clock-app-loaded {
    display: none;
    padding-left: 30vh;
    height: 60vh;
}
.clock-app-loading {
    position: absolute;
    top: 0;
    left: 0vh;
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.stopwatch-timer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    font-size: 64px;
    font-family: 'SF Pro Display Regular';
}

.stopwatch-buttons {
    display: flex;
    align-items: center;
    margin: 0 26px;
    justify-content: space-between;
    font-size: 14px;
}

.stopwatch-button {
    display: flex;
    width: 64px;
    height: 64px;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border-radius: 50%;
    color: var(--main-background-color);
}

.stopwatch-button p {
    font-size: 16px;
    margin: 0 !important;
}

.stopwatch-button[data-type="lap"] {
    background: var(--main-dark-gray);
    border: 2px solid var(--main-darker-gray);
}

.stopwatch-button[data-type="clear"] {
    background: #000000;
    border: 2px solid #313131;
}

.stopwatch-button[data-type="start"] {
    background: var(--main-green);
    border: 2px solid var(--main-darker-green);
}

.stopwatch-button[data-type="stop"] {
    background: var(--main-red);
    border: 2px solid var(--main-darker-red);
}

.stopwatch-lap-list {
    overflow: auto;
    max-height: 24vh;
    margin: 32px 0 0 0;
}

.stopwatch-lap:first-child {
    border-top: 1px solid var(--main-black);
}

.stopwatch-lap {
    border-bottom: 1px solid black;
    padding: 0 16px;
}

.stopwatch-lap p {
    margin: 8px;
}

.stopwatch-lap-list::-webkit-scrollbar {
    position: absolute;
    width: .6vh;
}

.stopwatch-lap-list::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

.stopwatch-lap-list::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.664);
    border-radius: 1vh 0 0 1vh;
}