@font-face {
    font-family: Font-1;
    src: url('../fonts/font-1.ttf');
}

@font-face {
    font-family: 'Twitter Font';
    src: url('../fonts/HelveticaNeue-Medium.ttf');
}

@font-face {
    font-family: 'Racing Font';
    src: url('../fonts/keepcalm.otf');
}

@font-face {
    font-family: 'Samsung Sans Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Samsung Sans Regular'), url('../fonts/SamsungSans-Regular.woff') format('woff');
}
    
@font-face {
    font-family: 'Samsung Sans Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Samsung Sans Thin'), url('../fonts/SamsungSans-Thin.woff') format('woff');
}
    
@font-face {
    font-family: 'Samsung Sans Light';
    font-style: normal;
    font-weight: normal;
    src: local('Samsung Sans Light'), url('../fonts/SamsungSans-Light.woff') format('woff');
}
    
@font-face {
    font-family: 'Samsung Sans Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Samsung Sans Medium'), url('../fonts/SamsungSans-Medium.woff') format('woff');
}
    
@font-face {
    font-family: 'Samsung Sans Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Samsung Sans Bold'), url('../fonts/SamsungSans-Bold.woff') format('woff');
}
    
@font-face {
    font-family: 'Qbus Font';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/KeepCalm-Medium.ttf');
}

@font-face {
    font-family: 'SF Pro Display Regular';
    font-style: normal;
    font-weight: normal;
    src: local('SF Pro Display Regular'), url('../fonts/SFPRODISPLAYREGULAR.woff') format('woff');
}
    

@font-face {
    font-family: 'SF Pro Display Ultralight Italic';
    font-style: normal;
    font-weight: normal;
    src: local('SF Pro Display Ultralight Italic'), url('../fonts/SFPRODISPLAYULTRALIGHTITALIC.woff') format('woff');
}
    

@font-face {
    font-family: 'SF Pro Display Thin Italic';
    font-style: normal;
    font-weight: normal;
    src: local('SF Pro Display Thin Italic'), url('../fonts/SFPRODISPLAYTHINITALIC.woff') format('woff');
}
    
@font-face {
    font-family: 'SF Pro Display Light';
    font-style: normal;
    font-weight: normal;
    src: local('SF Pro Display Light'), url('../fonts/SFPRODISPLAYLIGHT.ttf') format('truetype');
}

@font-face {
    font-family: 'SF Pro Display Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('SF Pro Display Light Italic'), url('../fonts/SFPRODISPLAYLIGHTITALIC.woff') format('woff');
}
    

@font-face {
    font-family: 'SF Pro Display Medium';
    font-style: normal;
    font-weight: normal;
    src: local('SF Pro Display Medium'), url('../fonts/SFPRODISPLAYMEDIUM.woff') format('woff');
}
    

@font-face {
    font-family: 'SF Pro Display Semibold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('SF Pro Display Semibold Italic'), url('../fonts/SFPRODISPLAYSEMIBOLDITALIC.woff') format('woff');
}
    

@font-face {
    font-family: 'SF Pro Display Bold';
    font-style: normal;
    font-weight: normal;
    src: local('SF Pro Display Bold'), url('../fonts/SFPRODISPLAYBOLD.woff') format('woff');
}
    

@font-face {
    font-family: 'SF Pro Display Heavy Italic';
    font-style: normal;
    font-weight: normal;
    src: local('SF Pro Display Heavy Italic'), url('../fonts/SFPRODISPLAYHEAVYITALIC.woff') format('woff');
}
    

@font-face {
    font-family: 'SF Pro Display Black Italic';
    font-style: normal;
    font-weight: normal;
    src: local('SF Pro Display Black Italic'), url('../fonts/SFPRODISPLAYBLACKITALIC.woff') format('woff');
}