
.food-app {
    display: none;
    height: 100%;
    width: 100%;
    background: rgb(243, 243, 243);
    overflow: hidden;
}

.food-header {
    position: absolute;
    width: 100%;
    height: 12vh;
    background-color: red;
    top: 0;
    border-bottom: .3vh solid #333; 
    color: rgb(0, 0, 0);
    font-family: 'Samsung Sans Medium';
    font-size: 1.8vh;
}

.food-header > p {
    line-height: 12vh;
    text-indent: 2vh;
}

.food-header > span {
    position: absolute;
    top: 9vh;
    left: 2vh;
    font-size: 1.2vh;
    height: 2vh;
    color: rgba(0, 0, 0, 0.842);
}

.food2-list {
    position: absolute;
    background-color: #00000033;
    width: 90%;
    height: 73%;

    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 3%;

    border-radius: .5vh;

    overflow-y: scroll;
}

.food2-list::-webkit-scrollbar {
    display: none;
}

.food-list {
    position: relative;
    width: 95%;
    height: 6vh;
    background-color: rgba(31, 31, 31, 0.89);
    margin: 2.5%;

    border-radius: .5vh;
}

.food-list-firstletter {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    width: 5.5vh;
    height: 5.5vh;
    /* background-color: rgb(133, 14, 10); */
    text-align: center;
    left: 0vh;
    line-height: 3.5vh;
    border-radius: 50%;
    font-family: 'Samsung Sans Medium';
    font-size: 1.8vh;

    color: rgb(255, 255, 255);
}

.food-list-firstletter-worker {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: red;
    width: 3.5vh;
    height: 3.5vh;
    text-align: center;
    left: 1vh;
    line-height: 3.5vh;
    border-radius: 50%;
    font-family: 'Samsung Sans Medium';
    font-size: 1.8vh;

    color: rgb(255, 255, 255);
}

.food-list-fullname {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5.5vh;
    font-family: 'Samsung Sans Medium';
    font-size: 1.5vh;

    max-width: 14vh;

    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;

    color: rgb(255, 255, 255);
}

.no-food {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Samsung Sans Medium';
    font-size: 1.3vh;

    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;

    max-width: 14vh;

    color: rgb(255, 255, 255);
}

.food-list-company {
    color: white;
    position: absolute;
    top: 25%;

    right: 2vh;
    font-size: 2vh;
}

.food-list-company:hover {
    color: red;

    cursor: pointer;
}

.food-list-call {
    color: white;
    position: absolute;
    top: 25%;
    transform: translateY(-50%);

    right: 2vh;
    font-size: 2vh;
    transform: rotate(90deg);

    transition: .08s ease-in-out;
}

.food-list-call:hover {
    color: red;
    opacity: .8;

    transform: rotate(0deg);

    cursor: pointer;
}

.food-list-back {
    color: white;
    position: absolute;

    right: 2vh;
    font-size: 2vh;
}

.food-list-back:hover {
    color: red;

    cursor: pointer;
}