.picker-wrapper,
.picker-wrapper * {
    box-sizing: border-box;
    -webkit-user-select: none;
}
.picker-wrapper {
    text-align: center;
    position: relative;
    height: 210px;
    display: inline-block;
    line-height: 30px;
    width: 100%;
    font-size: 20px;
    perspective: 1000px;
    perspective-origin: center center;
    background: var(--main-background-color);
}
.picker-scroller {

    -webkit-transition : -webkit-transform 100ms ease;
    -webkit-transform : translateZ(-90px) rotateX(0deg);
    -webkit-transform-style : preserve-3d;
    height : 100%;
/*
    overflow: auto;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    padding-top: 90px;
    padding-bottom: 90px;
*/
}
.picker-scroller .option{
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    width : 100%;
    transition: all 300ms;
    color : black;
    transform-origin: 50% 50%;
    -webkit-transform-style : preserve-3d;
}


.picker-up {
    position: absolute;
    top: 0;
    z-index: 2;
    background: rgba(256, 256, 256, 0.6);
    width: 100%;
    height: 90px;
    border-bottom: 1px solid lightgray;
    
}
.picker-down {
    position: absolute;
    top: 120px;
    z-index: 2;
    background: rgba(256, 256, 256, 0.6);
    width: 100%;
    height: 90px;
    border-top: 1px solid lightgray;
}
.clone-scroller {
    /* -webkit-box-shadow: inset 0 20px 24px 3px white, inset 0 -20px 24px 3px white; */
    /* box-shadow: inset 0 10px 24px 3px white, inset 0 -20px 24px 3px white; */
    z-index: 5;
    overflow: auto;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    padding-top: 90px;
    padding-bottom: 90px
}
.clone-scroller .option {
    visibility: hidden;
}