.photos-app {
    display: none;
    background: white;
    width: 100%;
    height: 100%;
    font-family: 'SF Pro Display Regular';
}

.photos-container {
    position: relative;
    height: 100%;
}

.photos-footer {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 8px 16px 24px 16px;
    background: rgb(174 174 174 / 70%);
}

.photos-footer-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 26px;
    z-index: 60;
}

.photos-footer-button-selected {
    color: var(--main-blue)
}

.photos-footer-button p {
    white-space: nowrap;
    font-size: 10px;
    margin: 0 !important;
}

.photos-content {
    flex: 1;
    display: flex;
}
.photos-image-item img {
    max-width: 100%;
}


.photos-content[data-showing="year"] {
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.photos-content[data-showing="year"] .photos-image-item {
    position: relative;
    margin: 16px;
}
.photos-content[data-showing="year"] .photos-image-item span {
    position: absolute;
    padding: 16px;
    width: 100%;
    color: white;
    border-radius: 16px 16px 0 0;
    background: linear-gradient(180deg, rgba(0,0,0,0.5) 0%, rgba(0, 0, 0, 0) 100%);
    font-weight: bold;
    font-size: 32px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px var(--main-black);
}
.photos-content[data-showing="year"] .photos-image-item img {
    border-radius: 16px;
}

.photos-content[data-showing="month"] {
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.photos-content[data-showing="month"] .photos-image-item {
    position: relative;
    margin: 16px;
}
.photos-content[data-showing="month"] .photos-image-item img {
    border-radius: 16px;
}
.photos-content[data-showing="month"] .photo-img-title {
    color: var(--main-black);
    font-weight: bold;
    font-size: 32px;
}
.photos-content[data-showing="month"] .photo-img-details-date-included {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    padding: 54px 12px;
    text-shadow: 1px 1px 2px var(--main-color);
    color: var(--main-background-color);
    font-size: 24px;
}
.photos-content[data-showing="month"] .photo-img-details {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    padding: 12px;
    text-shadow: 1px 1px 2px var(--main-color);
    color: var(--main-background-color);
    font-size: 24px;
}
.photos-content[data-showing="month"] .photo-img-details-date {
    font-size: 16px;
    font-weight: 100;
}

.photos-content[data-showing="day"] {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
}

.photos-content[data-showing="day"] .photos-image-item span {
    position: absolute;
    color: white;
    text-shadow: 1px 1px 2px black;
    margin: 16px;
    font-size: 22px;
}

.photos-content[data-showing="all"] {
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(4, max-content);
    justify-content: stretch;
    padding-bottom: 16px;
}
.photos-content[data-showing="all"] .photos-image-item {
    flex: 1 0 24%;
}
.photos-content[data-showing="all"] img {
    width: 74px;
    height: 74px;
    object-fit: cover;
}

.filter-background {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    background: rgba(224, 224, 244, 0.9);
    z-index: 50;
    filter: blur(8px);
    opacity: 0.8;
    box-shadow: 0px -20px 20px 20px white inset;
}


.photos-app-page {
    display: none;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 32px 6px 108px 6px;
}

.photos-app-page-active {
    display: block;
}

.photos-app-page::-webkit-scrollbar-thumb, .photos-content::-webkit-scrollbar-thumb,
.photos-app-page::-webkit-scrollbar, .photos-content::-webkit-scrollbar {
    width: 0px;
}

.photos-range-wrapper {
    position: absolute;
    width: 100%;
    bottom: 80px;
    left: 0;
    padding: 0 12px;
}

.photos-range {
    display: grid;
    grid-template-columns: auto auto auto auto;
    place-items: center stretch;
    text-align: center;
    width: 100%;
    background: rgba(177, 177, 177, 0.8);
    color: black;
    font-size: 14px;
    font-family: 'SF Pro Display Regular';
    font-weight: bold;
    border-radius: 16px;
    padding: 8px;
    z-index: 80;
}

.photos-range .filter-background {
    left: 0;
}

.photos-range p {
    margin: -4px;
    z-index: 60;
}

.photos-range-selected {
    color: white;
    background: gray;
    padding: 4px 16px;
    border-radius: 16px;
}


.photos-app-page[data-page="albums"] {
    position: relative;
    overflow: hidden;
}

.photos-album-content {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 22px 108px 8px;
    overflow: auto;
}
.photos-album-content::-webkit-scrollbar,
.photos-album-content::-webkit-scrollbar-thumb {
    width: 0px;
}

.photos-album-content .photos-image-item {
    margin: 12px 0 0 0;
}

.photos-album-content .photos-image-item img {
    border-radius: 8px;
}

.photos-album-content .photos-image-item span {
    margin-top: 2px;
    font-size: 18px;
}

.photos-album-content-container {
    position: absolute;
    overflow: hidden;
    background: var(--main-background-color);
    width: 100%;
    height: 100%;
    right: -100%;
}

#photos-album-content-header {
    top: 0;
    margin: -6px 0 0 0;
}