
.vprime-app {
    display: none;
    height: 100%;
    width: 100%;
    background-color: #1f1f1f;
    overflow: hidden;
}

.vprime-header {
    display: none;
    position: absolute;
    width: 100%;
    height: 12vh;
    background-color: #00000033;
    top: 0;
    /* border-bottom: 0.3vh solid #1f1f1f;  */
    left: 30vh;
    color: rgb(243, 243, 243);
    font-family: 'Heebo', sans-serif;
    font-size: 1.8vh;
}

.vprime-header-logo {
    position: absolute;
    top: 65%;
    transform: translateY(-50%);
    width: 6.5vh;
    height: 6.5vh;
    left: 11vh;
    border-radius: 50%;
    color: rgb(255, 255, 255);
}

.vprime-header > p {
    line-height: 16vh;
    text-indent: 12vh;
}

.vprime-header > span {
    position: absolute;
    top: 9vh;
    left: 2vh;
    font-size: 1.2vh;
    height: 2vh;
    color: rgb(243, 243, 243);
}

.vprime2-list {
    position: absolute;
    background-color: #00000033;
    width: 90%;
    height: 73%;

    margin: 0 auto;
    left: 30vh;
    right: 0;
    bottom: 6%;

    border-radius: .5vh;

    overflow-y: scroll;
}

.vprime2-list::-webkit-scrollbar {
    display: none;
}

.vprime-list {
    position: relative;
    width: 95%;
    height: 8vh;
    background-color: rgba(31, 31, 31, 0.89);
    margin: 2.5%;

    border-radius: .5vh;
}

.vprime-list-firstletter {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 5.5vh;
    height: 5.5vh;
    /* background-color: rgb(133, 14, 10); */
    text-align: center;
    left: 0vh;
    line-height: 3.5vh;
    border-radius: 50%;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8vh;

    color: rgb(255, 255, 255);
}

.vprime-list-fullname {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 7.5vh;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vh;

    max-width: 12vh;

    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;

    color: rgb(255, 255, 255);
}

.vprime-list-price {
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    left: 7.5vh;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vh;
    text-align: center;

    max-width: 14vh;
    min-width: 6vh;
    background-color: #27ae60;
    border-radius: 3px;

    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;

    color: rgb(255, 255, 255);
}

.vprime-list-count {
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    left: 14.5vh;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vh;
    text-align: center;

    width: 3vh;
    height: 2.4vh;
    background-color: #00000033;
    border-radius: 5px;

    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;

    color: #fff;
}

.no-darkweb {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Poppins', sans-serif;
    font-size: 1.3vh;

    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;

    max-width: 14vh;

    color: rgb(255, 255, 255);
}

.vprime-list-call {
    color: white;
    position: absolute;
    top: 35%;
    /* transform: translateY(-50%); */

    right: 2vh;
    font-size: 2vh;
    /* transform: rotate(90deg); */

    /* transition: .08s ease-in-out; */
}

.vprime-list-call:hover {
    color: #27ae60;
    opacity: .8;

    transform: rotate(0deg);

    cursor: pointer;
}

.vprime-app-loading {
    position: absolute;
    top: 0;
    left: 0vh;
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.vprime-logo {
    position: absolute;
    width: 10vh;
    margin: 0 auto;
    left: 0vh;
    right: 0;
    top: 22vh;
    z-index: 101;
}

#vprime-text {
    position: absolute;
    top: 25vh;
    left: 9vh;
    font-size: 2.5vh;
    color: white;
    font-family: 'Heebo', sans-serif;
    z-index: 100;
    opacity: 0;
}