.whatsapp-app {
    display: none;
    height: 100%;
    width: 100%;
    background: white;
    overflow: hidden;
}

.whatsapp-header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 7.6vh;
    background-color: white;
}
.whatsapp-header-top {
    position: relative;
    height: 3vh;
    width: 100%;
    background-color: white;
}
.whatsapp-header-footer {
    position: relative;
    height: 4.5vh;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 2vh;
    padding: 44px 24px;
}
.whatsapp-header-footer-header > p {
    font-weight: bold;
    font-size: 30px;
    font-family: 'SF Pro Display Regular';
}

.whatsapp-header-footer-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.whatsapp-header-footer-header i {
    width: 34px;
    font-size: 18px;
    padding: 8px;
    border-radius: 50%;
    margin-left: 16px;
    background: #E6EDEE;
    color: #1E78DA;
}
.whatsapp-header-footer-header i:last-child {
    color: white;
    background: #207ADE;
}

#whatsapp-search-chats {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1.6vh;
    color: white;
    right: 1vh;
    transition: .1s;
    font-size: 1.5vh;
}
#whatsapp-search-chats:hover {
    color: rgb(182, 182, 182);
}
#whatsapp-search-input {
    background: none;
    border: none;
    background: rgb(226, 226, 226);
    width: 100%;
    border-radius: 1vh;
    padding: 8px;
    font-size: 14px;
    padding: 4px 10px;
    box-shadow: 0 0 .2vh 0 rgba(0, 0, 0, 0.281);
    font-family: 'SF Pro Display Regular';
    outline: none;
    /* z-index: 100; */
}

input[type="text"]::placeholder {
    font-family: 'SF Pro Display Regular', 'Font Awesome 5 Free';
    font-weight: 600;
}  

.whatsapp-chats {
    position: absolute;
    width: 100%;
    top: 14vh;
    height: 46.6vh;
    overflow-y: scroll;
    overflow-x: hidden !important;
}

.whatsapp-chats::-webkit-scrollbar {
    position: absolute;
    width: .6vh;
}

.whatsapp-chats::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

.whatsapp-chats::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.664);
    border-radius: 1vh 0 0 1vh;
}

.whatsapp-chat-unreadmessages {
    display: none;
    position: absolute;
    right: 1vh;
    top: 3.1vh;
    width: 1.8vh;
    height: 1.8vh;
    background-color: #25D366;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-family: 'SF Pro Display Regular';
    font-size: 1vh;
    line-height: 1.9vh;
}

.whatsapp-chat {
    display: flex;
    flex-direction: row;
    padding-top: 4px;
    justify-content: space-between;
    position: relative;
    width: 100%;
    padding: 8px 24px;
    border-bottom: .15vh solid rgb(219, 219, 219);
    background: white;
    transition: .15s;
}
.whatsapp-chat:last-child {
    border-bottom: none;
}
.whatsapp-chat:hover {
    border-bottom: .15vh solid rgb(207, 207, 207);
    background: rgb(233, 233, 233);
}
.whatsapp-chat-picture {
    /* position: absolute; */
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    top: 1vh;
    left: 1vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.whatsapp-openedchat-picture {
    position: absolute;
    height: 3.5vh;
    width: 3.5vh;
    background: gray;
    border-radius: 50%;
    top: .5vh;
    left: 3.5vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.whatsapp-chat-details {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 12px;
    width: 100px;
}
.whatsapp-chat-name {
    /* position: absolute; */
    /* top: 1.35vh;
    left: 7vh; */
    font-weight: bold;
    font-family: 'SF Pro Display Regular';
    font-size: 1.5vh;
}
.whatsapp-chat-lastmessage {
    /* position: absolute; */
    /* bottom: .6vh;
    left: 7vh; */
    width: 90%;
    font-family: 'SF Pro Display Regular';
    font-size: 1.1vh;
    color: rgb(83, 83, 83);
    /* max-width: 17vh; */
}
.whatsapp-chat-lastmessage > p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px !important;
}
.whatsapp-chat-name > p {
    margin: 0px !important;
}
.whatsapp-chat-lastmessagetime {
    /* position: absolute; */
    display: flex;
    top: 1.35vh;
    right: 1vh;
    font-family: 'SF Pro Display Regular';
    font-size: 13px;
    color: rgb(83, 83, 83);
}
.whatsapp-chat-lastmessagetime i {
    margin: 0px 0px 0px 8px;
    position: relative;
    top: 2px;
}

.whatsapp-openedchat {
    display: none;
    right: 0vh;
    flex-direction: column;
    padding: 90px 0px 0px 0px;
    position: absolute;
    top: 0;
    right: -30vh;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 24px;
    /* background-image: url('../img/apps/whatsapp-chat.png'); */
    /* background-repeat: no-repeat;
    background-size: inherit; */
    background-color: white;
}
/* .whatsapp-openedchat-picture {
    position: absolute;
    height: 3.5vh;
    width: 3.5vh;
    background: gray;
    border-radius: 50%;
    top: .5vh;
    left: 3.5vh;
} */
#whatsapp-openedchat-back {
    position: absolute;
    line-height: 5.5vh;
    top: -.4vh;
    left: 1.4vh;
    color: black;
    transition: .1s;
}
#whatsapp-openedchat-back:hover {
    color: rgb(32, 32, 32);
}
.whatsapp-openedchat-name {
    position: absolute;
    line-height: 5.5vh;
    top: -.4vh;
    left: 8vh;
    color: black;
    font-size: 1.5vh;
    font-family: 'SF Pro Display Regular';
    font-size: 1.5vh;
}
.whatsapp-header-openedchat{
    position: absolute;
    top: 0;
    width: 100%;
    height: 9vh;
    background-color: white;
}
.whatsapp-header-top-openedchat {
    position: relative;
    height: 3vh;
    width: 100%;
    background-color: white;
}
.whatsapp-header-footer-openedchat {
    position: relative;
    height: 4.5vh;
    width: 100%;
    background-color: white;
}
.whatsapp-header-footer-openedchat > p {
    padding-top: 1.3vh;
    padding-left: 2vh;
    color: black;
    font-family: 'SF Pro Display Regular';
    font-size: 1.5vh;
}
.whatsapp-extra-buttons {
    /* display: none;
    position: absolute;
    bottom: 6.4vh;
    left: -10vh; */
}
.whatsapp-openedchat-input {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: fit-content;
    padding: 0px 16px;
    /* bottom: 0.8vh; */
    /* width: 100%; */
    /* height: 6.5vh; */
}
.whatsapp-openedchat-input .whatsapp-openedchat-input-icons {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 200;
    font-size: 20px;
    height: 100%;
    /* transition: all ease-in-out 100ms; */
}
.whatsapp-openedchat-input .whatsapp-openedchat-input-icons i {
    transition: all ease-in-out 100ms;
    color : #999999;
    margin-right: 10px;
}
.whatsapp-openedchat-input .whatsapp-openedchat-input-icons i:hover {
    transition: all ease-in-out 100ms;
    color : #444343;
}
.whatsapp-extra-button {
    background: none;
    border: none;
    background: rgb(226, 226, 226);
    width: 3.5vh;
    height: 3.5vh;
    border-radius: 3vh;
    box-shadow: 0 0 .4vh 0 rgba(0, 0, 0, 0.3);
    font-family: 'SF Pro Display Regular';
    font-size: 1.4vh;
    z-index: 100;
    top: 1.3vh;
    left: .8vh;
    float: left;
    margin-right: 1vh;
    position: relative;
    text-align: center;
    transition: .1s linear;
}
.whatsapp-extra-button:hover {
    background: rgb(248, 248, 248);
}
.whatsapp-extra-button > i {
    line-height: 3.5vh;
    font-size: 1.5vh;
}
#whatsapp-openedchat-message {
    /* position: absolute; */
    height: 37px;
    max-height: 80px;
    background: none;
    border: none;
    background: rgb(226, 226, 226);
    /* margin: 0 auto; */
    /* height: 3.5vh; */
    border-radius: 12px;
    box-shadow: 0 0 .4vh 0 rgba(0, 0, 0, 0.3);
    font-family: 'SF Pro Display Regular';
    width: 100%;
    padding: 8px 40px 8px 8px;
    font-size: 1.4vh;
    outline: none;
    /* text-indent: 3vh; */
    z-index: 100;
    resize: none;
    overflow: hidden;
    /* top: 5.75vh; */
    /* left: .8vh;
    width: 23vh; */
}
#whatsapp-openedchat-send {
    position: absolute;
    color: white;
    right: 18px;
    top: 2px;
    text-align: center;
    line-height: 3.5vh;
    background: #999999;
    font-size: 1.5vh;
    width: 3vh;
    height: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 0 .4vh 0 rgba(0, 0, 0, 0.3);
    transition: .15s;
    z-index: 200;
}
#whatsapp-openedchat-send:hover {
    background: var(--send-bg);
}
#whatsapp-openedchat-message-extras {
    position: absolute;
    left: 1.2vh;
    z-index: 100;
    top: 0.6vh;
    font-size: 1.5vh;
    width: 2.6vh;
    height: 2.6vh;
    text-align: center;
    line-height: 2.5vh;
    border-radius: 50% 0% 0 50%;
    color: black;
    transition: .2s;
}
#whatsapp-openedchat-message-extras:hover {
    color: #ffce00;
}

.whatsapp-openedchat-messages {
    /* position: absolute; */
    position: relative;
    padding: 0px 8px;
    /* height: 79%; */
    width: 95%;
    /* top: 7.6vh; */
    margin: 0 auto;
    left: 0;
    right: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.whatsapp-openedchat-messages::-webkit-scrollbar {
    width: 2px !important;
    height: 1px;
    transition: all .5s;
}
.whatsapp-openedchat-messages::-webkit-scrollbar-track {
    background-color: white;
}
.whatsapp-openedchat-messages::-webkit-scrollbar-thumb {
  background-color: #bec4c8; 
  border-radius: 3px;
}

/* .whatsapp-openedchat-messages::-webkit-scrollbar {
    position: absolute;
    width: .3vh;
}
.whatsapp-openedchat-messages::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}
.whatsapp-openedchat-messages::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.664);
    border-radius: 1vh 0 0 1vh;
} */

:root {
    --send-bg: #0B93F6;
    --send-color: white;
    --receive-bg: #E5E5EA;
    --receive-text: black;
    --page-background: white;
  }

.whatsapp-messagebox-image {
    padding: 8px 16px 8px 8px !important;
}

.whatsapp-messagebox {
    /* max-width: 255px; */
    font-family: 'SF Pro Display Regular';
    width: fit-content;
    word-wrap: break-word;
    margin-bottom: 12px;
    line-height: 24px;
    position: relative;
    padding: 10px 20px;
    border-radius: 25px;
    max-width: 100%;
}
.whatsapp-messagebox::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 25px;
}
.whatsapp-messagebox::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 25px;
}
  
.whatsapp-messagebox-other {
	background: var(--receive-bg);
	color: black;
    align-self: flex-start;
}
.whatsapp-messagebox-other::before {
    left: -7px;
    width: 20px;
    background-color: var(--receive-bg);
    border-bottom-right-radius: 16px 14px;
}
.whatsapp-messagebox-other::after {
    left: -26px;
    width: 26px;
    background-color: var(--page-background);
    border-bottom-right-radius: 10px;
}
.whatsapp-messagebox-me {
	color: var(--send-color); 
	background: var(--send-bg);
	align-self: flex-end;
    float: right;
}
.whatsapp-messagebox-me::before {
    right: -7px;
    width: 20px;
    background-color: var(--send-bg);
    border-bottom-left-radius: 16px 14px;
}
.whatsapp-messagebox-me::after {
    right: -26px;
    width: 26px;
    background-color: var(--page-background);
    border-bottom-left-radius: 10px;
}

.whatsapp-openedchat-message{
    position: relative;
    width: fit-content;
    max-width: 80%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    height: auto;
    margin-top: .7vh;
    padding: .4vh;
    text-indent: .3vh;
    transition: .1s linear;
    overflow: hidden;
}
.whatsapp-shared-location:hover {
    opacity: .8;
    transition: .1s linear;
}
.whatsapp-openedchat-message-me {
    background: #087FFF;
    color: white;
    border-radius: .5vh 0 .5vh .5vh;
    float: right;
    left: -.3vh
}
.whatsapp-openedchat-message-other {
    background: #ffffff;
    color: black;
    border-radius: .5vh 0 .5vh .5vh;
    left: .3vh
}
.whatsapp-openedchat-message-image {
    max-width: 100%;
    max-height: 100%;
    /* margin: 0px 0px 8px -2px; */
    border-radius: 20px;
}
.whatsapp-openedchat-message-time-me {
    position: relative;
    top: -8px;
    font-size: 1.1vh;
    text-align: right;
    /* padding-left: 3.7vh; */
    /* margin-top: -.25vh; */
    font-family: 'SF Pro Display Regular';
    color: gray;
}
.whatsapp-openedchat-message-time-other {
    position: relative;
    top: -8px;
    font-size: 1.1vh;
    text-align: left;
    /* padding-left: 3.7vh; */
    /* margin-top: -.25vh; */
    font-family: 'SF Pro Display Regular';
    color: gray;
}
.unique-chat {
    position: relative;
    width: 100%;
    margin-bottom: 1vh;
    top: 0;
}
.whatsapp-openedchat-date {
    position: relative;
    margin: 0 auto;
    margin-top: .2vh;
    text-align: center;
    /* background: #d2ecf9; */
    width: fit-content;
    padding: .4vh;
    height: 2vh;
    font-family: 'SF Pro Display Regular';
    font-size: 1vh;
    border-radius: .4vh;
    /* box-shadow: 0 0 .2vh 0 rgba(0, 0, 0, 0.2); */
    margin-bottom: .7vh;
    /* text-transform: uppercase; */
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
.clearfix {
    display: block;
}

.add-contact-container {
    margin: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add-contact-container span {
    font-size: 15px;
}

.add-contact-container div {
    border-radius: 8px;
    margin: 8px;
    padding: 8px;
    color: #77B1F5;
    background: #fff;
    width: 80%;
    display: flex;
    justify-content: center;
}

.add-contact-container div span {
    font-size: 18px;
}